body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color:gainsboro;
    
    
}
.sign-up-page 
{
    
    width: 300px;
    box-shadow:0 0 3px 0 rgba(0,0,0,0.3);
    background:white;  
    padding: 20px;
    margin: 8% auto 0;
    text-align:center;

}


.sign-up-page h1
{
    color:rgb(0, 132, 255);
    margin-bottom: 30px;

}

.input-box
{
    border-radius: 15px;
    padding: 3px;
    margin: 8px 0;
    width: 90%;
    border: 1px solid #999;
    outline:none;

}
button
{
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup-btn
{
    background-color:rgb(0, 132, 255);
}
.google-btn
{
    background-color: skyblue;
}
a
{
    text-decoration: none;
}
hr
{
    margin-top: 20px;
    width: 80%;
}
.or
{
    background:white;
    margin: -19px auto 10px;
    width: 30px;
}


